<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="net.artron.cms.dict.mapper.DictMapper">

 	<!-- save -->
 	<insert id="save" parameterType="net.artron.cms.dict.model.Dict">
		INSERT INTO sys_dict
		(
			db_id,
			value,
			label,
			type,
			description,
			sort,
			parent_id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) 
		VALUES 
		( 
			#{dbId, jdbcType=VARCHAR},
			#{value, jdbcType=VARCHAR},
			#{label, jdbcType=VARCHAR},
			#{type, jdbcType=VARCHAR},
			#{description, jdbcType=VARCHAR},
			#{sort, jdbcType=DECIMAL},
			#{parentId, jdbcType=VARCHAR},
			#{createBy, jdbcType=VARCHAR},
			#{createDate, jdbcType=TIMESTAMP},
			#{updateBy, jdbcType=VARCHAR},
			#{updateDate, jdbcType=TIMESTAMP},
			#{remarks, jdbcType=VARCHAR},
			#{delFlag, jdbcType=VARCHAR}
		) 
	</insert>
	
	<!-- update -->
	<update id="update" parameterType="net.artron.cms.dict.model.Dict" >
     	UPDATE sys_dict
			<set> 
				<if test=" value != null" > 
					value = #{value}, 
				</if>
				<if test=" label != null" > 
					label = #{label}, 
				</if>
				<if test=" type != null" > 
					type = #{type}, 
				</if>
				<if test=" description != null" > 
					description = #{description}, 
				</if>
				<if test=" sort != null" > 
					sort = #{sort}, 
				</if>
				<if test=" parentId != null" > 
					parent_id = #{parentId}, 
				</if>
				<if test=" createBy != null" > 
					create_by = #{createBy}, 
				</if>
				<if test=" createDate != null" > 
					create_date = #{createDate}, 
				</if>
				<if test=" updateBy != null" > 
					update_by = #{updateBy}, 
				</if>
				<if test=" updateDate != null" > 
					update_date = #{updateDate}, 
				</if>
				<if test=" remarks != null" > 
					remarks = #{remarks}, 
				</if>
				<if test=" delFlag != null" > 
					del_flag = #{delFlag}, 
				</if>
			</set> 
		 WHERE  db_id = #{dbId}
  	</update>
  	
  	<!-- delete -->
 	<delete id="delete" parameterType="net.artron.cms.dict.model.Dict" >
            DELETE FROM sys_dict WHERE db_id IN
            <foreach item="dbid" index="index" collection="dbIds" open="(" separator="," close=")">
		    		#{dbid}
		  	</foreach> 
  	</delete>
  	
  	<sql id="selectAllColumns">
		TB.db_id AS dbId,  
		TB.value AS value,  
		TB.label AS label,  
		TB.type AS type,  
		TB.description AS description,  
		TB.sort AS sort,  
		TB.parent_id AS parentId,  
		TB.create_by AS createBy,  
		TB.create_date AS createDate,  
		TB.update_by AS updateBy,  
		TB.update_date AS updateDate,  
		TB.remarks AS remarks,  
		TB.del_flag AS delFlag  
  	</sql>
  	
  	<sql id="queryWhereWithPage">
		<if test=" queryParam.dbId != null" > 
		and TB.db_id = #{queryParam.dbId}
		</if>
		<if test=" queryParam.value != null" > 
		and TB.value = #{queryParam.value}
		</if>
		<if test=" queryParam.label != null" > 
		and TB.label = #{queryParam.label}
		</if>
		<if test=" queryParam.type != null" > 
		and TB.type = #{queryParam.type}
		</if>
		<if test=" queryParam.description != null" > 
		and TB.description = #{queryParam.description}
		</if>
		<if test=" queryParam.sort != null" > 
		and TB.sort = #{queryParam.sort}
		</if>
		<if test=" queryParam.parentId != null" > 
		and TB.parent_id = #{queryParam.parentId}
		</if>
		<if test=" queryParam.createBy != null" > 
		and TB.create_by = #{queryParam.createBy}
		</if>
		<if test=" queryParam.createDate != null" > 
		and TB.create_date = #{queryParam.createDate}
		</if>
		<if test=" queryParam.updateBy != null" > 
		and TB.update_by = #{queryParam.updateBy}
		</if>
		<if test=" queryParam.updateDate != null" > 
		and TB.update_date = #{queryParam.updateDate}
		</if>
		<if test=" queryParam.remarks != null" > 
		and TB.remarks = #{queryParam.remarks}
		</if>
		<if test=" queryParam.delFlag != null" > 
		and TB.del_flag = #{queryParam.delFlag}
		</if>
		<if test="queryParam.dbIds != null &amp;&amp; queryParam.dbIds.size() &gt; 0">
		and TB.db_id IN
		  <foreach item="dbid" index="index" collection="queryParam.dbIds" open="(" separator="," close=")">
		    #{dbid}
		  </foreach> 
		</if> 
  	</sql>
  	
  	<!-- query page by page -->
	<select id="queryByPage" parameterType="PageModel" resultType="net.artron.cms.dict.model.Dict">
		SELECT
			<include refid="selectAllColumns" />  
		FROM sys_dict TB  
    	WHERE 1=1   
    		 <include refid="queryWhereWithPage" />
	</select>
	
	<!-- queryPageWithAuth -->
	<select id="queryPageWithAuth" parameterType="PageModel" resultType="net.artron.cms.dict.model.Dict">
		SELECT
			<include refid="selectAllColumns" />  
		FROM sys_dict TB  
    	WHERE 1=1   
    		 <include refid="queryWhereWithPage" />
	</select> 
	
	<sql id="queryWhereWithEntity">
		<if test="dbId != null" > 
		and TB.db_id = #{dbId}
		</if>
		<if test="value != null" > 
		and TB.value = #{value}
		</if>
		<if test="label != null" > 
		and TB.label = #{label}
		</if>
		<if test="type != null" > 
		and TB.type = #{type}
		</if>
		<if test="description != null" > 
		and TB.description = #{description}
		</if>
		<if test="sort != null" > 
		and TB.sort = #{sort}
		</if>
		<if test="parentId != null" > 
		and TB.parent_id = #{parentId}
		</if>
		<if test="createBy != null" > 
		and TB.create_by = #{createBy}
		</if>
		<if test="createDate != null" > 
		and TB.create_date = #{createDate}
		</if>
		<if test="updateBy != null" > 
		and TB.update_by = #{updateBy}
		</if>
		<if test="updateDate != null" > 
		and TB.update_date = #{updateDate}
		</if>
		<if test="remarks != null" > 
		and TB.remarks = #{remarks}
		</if>
		<if test="delFlag != null" > 
		and TB.del_flag = #{delFlag}
		</if>
		<if test="dbIds != null &amp;&amp; dbIds.size() &gt; 0">
		and TB.db_id IN
		  <foreach item="dbid" index="index" collection="dbIds" open="(" separator="," close=")">
		    #{dbid}
		  </foreach> 
		</if>  
	</sql>
	
	<!-- query all -->
	<select id="queryAll" parameterType="Entity" resultType="net.artron.cms.dict.model.Dict">
	 SELECT
		<include refid="selectAllColumns" /> 
	  FROM sys_dict TB 
	  WHERE 1=1   
    	<include refid="queryWhereWithEntity" />
	 </select>
	 
	 <!-- queryWithAuth -->
	<select id="queryWithAuth" parameterType="Entity" resultType="net.artron.cms.dict.model.Dict">
	 SELECT
		<include refid="selectAllColumns" /> 
	  FROM sys_dict TB 
	  WHERE 1=1   
    	<include refid="queryWhereWithEntity" />
	 </select>
	
	<!-- query by id -->
	<select id="queryById" parameterType="java.lang.String" resultType="net.artron.cms.dict.model.Dict">
	  SELECT
		<include refid="selectAllColumns" /> 
	  FROM sys_dict TB  
          WHERE  TB.db_id = #{dbId}
	</select>  
	
	<select id="findTypeList" resultType="string">
		SELECT 
			type 
		FROM sys_dict 
		WHERE del_flag = #{DEL_FLAG_NORMAL} 
		GROUP BY type
		ORDER BY type
	</select>
		
</mapper>
