<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="net.artron.cms.pgyrater.mapper.PgyraterMapper">

 	<!-- save -->
 	<insert id="save" parameterType="net.artron.cms.pgyrater.model.Pgyrater">
		INSERT INTO cms_pgy_rater
		(
			db_id,
			name,
			telphone,
			email,
			company_name,
			duties,
			account_number,
			password,
			img_url,
			good_type,
			remarks,
			status,
			host_unit_id,
			created_dt,
			version,
			tab_index
		) 
		VALUES 
		( 
			#{dbId, jdbcType=VARCHAR},
			#{name, jdbcType=VARCHAR},
			#{telphone, jdbcType=VARCHAR},
			#{email, jdbcType=VARCHAR},
			#{companyName, jdbcType=VARCHAR},
			#{duties, jdbcType=VARCHAR},
			#{accountNumber, jdbcType=VARCHAR},
			#{password, jdbcType=VARCHAR},
			#{imgUrl, jdbcType=VARCHAR},
			#{goodType, jdbcType=VARCHAR},
			#{remarks, jdbcType=VARCHAR},
			#{status, jdbcType=VARCHAR},
			#{hostUnitId, jdbcType=VARCHAR},
			#{createdDt, jdbcType=TIMESTAMP},
			#{version, jdbcType=VARCHAR},
			#{tabIndex, jdbcType=INTEGER}
		) 
	</insert>
	
	<!-- update -->
	<update id="update" parameterType="net.artron.cms.pgyrater.model.Pgyrater" >
     	UPDATE cms_pgy_rater
			<set> 
				<if test=" name != null" > 
					name = #{name}, 
				</if>
				<if test=" telphone != null" > 
					telphone = #{telphone}, 
				</if>
				<if test=" email != null" > 
					email = #{email}, 
				</if>
				<if test=" companyName != null" > 
					company_name = #{companyName}, 
				</if>
				<if test=" duties != null" > 
					duties = #{duties}, 
				</if>
				<if test=" accountNumber != null" > 
					account_number = #{accountNumber}, 
				</if>
				<if test=" password != null" > 
					password = #{password}, 
				</if>
				<if test=" imgUrl != null" > 
					img_url = #{imgUrl}, 
				</if>
				<if test=" goodType != null" > 
					good_type = #{goodType}, 
				</if>
				<if test=" remarks != null" > 
					remarks = #{remarks}, 
				</if>
				<if test=" status != null" > 
					status = #{status}, 
				</if>
				<if test=" hostUnitId != null" > 
					host_unit_id = #{hostUnitId}, 
				</if>
				<if test=" createdDt != null" > 
					created_dt = #{createdDt}, 
				</if>
				<if test=" version != null" > 
					version = #{version}, 
				</if>
				<if test=" tabIndex != null" > 
					tab_index = #{tabIndex}, 
				</if>
			</set> 
		 WHERE  db_id = #{dbId}
  	</update>
  	
  	<!-- delete -->
 	<delete id="delete" parameterType="net.artron.cms.pgyrater.model.Pgyrater" >
            DELETE FROM cms_pgy_rater WHERE db_id IN
            <foreach item="dbid" index="index" collection="dbIds" open="(" separator="," close=")">
		    		#{dbid}
		  	</foreach> 
  	</delete>
  	
  	<sql id="selectAllColumns">
		TB.db_id AS dbId,  
		TB.name AS name,  
		TB.telphone AS telphone,  
		TB.email AS email,  
		TB.company_name AS companyName,  
		TB.duties AS duties,  
		TB.account_number AS accountNumber,  
		TB.password AS password,  
		TB.img_url AS imgUrl,  
		TB.good_type AS goodType,  
		TB.remarks AS remarks,  
		TB.status AS status,  
		TB.host_unit_id AS hostUnitId,  
		TB.created_dt AS createdDt,  
		TB.version AS version,  
		TB.tab_index AS tabIndex  
  	</sql>
  	
  	<sql id="queryWhereWithPage">
		<if test=" queryParam.dbId != null" > 
		and TB.db_id = #{queryParam.dbId}
		</if>
		<if test=" queryParam.name != null" > 
		AND CONCAT(TB.name,TB.telphone) LIKE '%' #{queryParam.name} '%'
		</if>
		<if test=" queryParam.telphone != null" > 
		and TB.telphone = #{queryParam.telphone}
		</if>
		<if test=" queryParam.email != null" > 
		and TB.email = #{queryParam.email}
		</if>
		<if test=" queryParam.companyName != null" > 
		and TB.company_name = #{queryParam.companyName}
		</if>
		<if test=" queryParam.duties != null" > 
		and TB.duties = #{queryParam.duties}
		</if>
		<if test=" queryParam.accountNumber != null" > 
		and TB.account_number = #{queryParam.accountNumber}
		</if>
		<if test=" queryParam.password != null" > 
		and TB.password = #{queryParam.password}
		</if>
		<if test=" queryParam.imgUrl != null" > 
		and TB.img_url = #{queryParam.imgUrl}
		</if>
		<if test=" queryParam.goodType != null" > 
		and TB.good_type like concat('%',#{queryParam.goodType},'%')
		</if>
		<if test=" queryParam.remarks != null" > 
		and TB.remarks = #{queryParam.remarks}
		</if>
		<if test=" queryParam.status != null" > 
		and TB.status = #{queryParam.status}
		</if>
		<if test=" queryParam.hostUnitId != null" > 
		and TB.host_unit_id = #{queryParam.hostUnitId}
		</if>
		<if test=" queryParam.createdDt != null" > 
		and TB.created_dt = #{queryParam.createdDt}
		</if>
		<if test="queryParam.dbIds != null &amp;&amp; queryParam.dbIds.size() &gt; 0">
		and TB.db_id IN
		  <foreach item="dbid" index="index" collection="queryParam.dbIds" open="(" separator="," close=")">
		    #{dbid}
		  </foreach> 
		</if> 
  	</sql>
  	
  	<!-- query page by page -->
	<select id="queryByPage" parameterType="PageModel" resultType="net.artron.cms.pgyrater.model.Pgyrater">
		SELECT
			<include refid="selectAllColumns" />  
		FROM cms_pgy_rater TB  
    	WHERE 1=1   
    		 <include refid="queryWhereWithPage" />
    		 ORDER BY TB.created_dt DESC
	</select>
	
	<!-- queryPageWithAuth -->
	<select id="queryPageWithAuth" parameterType="PageModel" resultType="net.artron.cms.pgyrater.model.Pgyrater">
		SELECT
			<include refid="selectAllColumns" />  
		FROM cms_pgy_rater TB  
    	WHERE 1=1   
    		 <include refid="queryWhereWithPage" />
	</select> 
	
	<sql id="queryWhereWithEntity">
		<if test="dbId != null" > 
		and TB.db_id = #{dbId}
		</if>
		<if test="name != null" > 
		and TB.name = #{name}
		</if>
		<if test="telphone != null" > 
		and TB.telphone = #{telphone}
		</if>
		<if test="email != null" > 
		and TB.email = #{email}
		</if>
		<if test="companyName != null" > 
		and TB.company_name = #{companyName}
		</if>
		<if test="duties != null" > 
		and TB.duties = #{duties}
		</if>
		<if test="accountNumber != null" > 
		and TB.account_number = #{accountNumber}
		</if>
		<if test="password != null" > 
		and TB.password = #{password}
		</if>
		<if test="imgUrl != null" > 
		and TB.img_url = #{imgUrl}
		</if>
		<if test="goodType != null" > 
		and TB.good_type = #{goodType}
		</if>
		<if test="remarks != null" > 
		and TB.remarks = #{remarks}
		</if>
		<if test="status != null" > 
		and TB.status = #{status}
		</if>
		<if test="hostUnitId != null" > 
		and TB.host_unit_id = #{hostUnitId}
		</if>
		<if test="createdDt != null" > 
		and TB.created_dt = #{createdDt}
		</if>
		<if test="version != null" > 
		and TB.version = #{version}
		</if>
		<if test="dbIds != null &amp;&amp; dbIds.size() &gt; 0">
		and TB.db_id IN
		  <foreach item="dbid" index="index" collection="dbIds" open="(" separator="," close=")">
		    #{dbid}
		  </foreach> 
		</if>  
	</sql>
	
	<!-- query all -->
	<select id="queryAll" parameterType="Entity" resultType="net.artron.cms.pgyrater.model.Pgyrater">
	 SELECT
		<include refid="selectAllColumns" /> 
	  FROM cms_pgy_rater TB 
	  WHERE 1=1   
    	<include refid="queryWhereWithEntity" />
	 </select>
	 
	 <!-- queryWithAuth -->
	<select id="queryWithAuth" parameterType="Entity" resultType="net.artron.cms.pgyrater.model.Pgyrater">
	 SELECT
		<include refid="selectAllColumns" /> 
	  FROM cms_pgy_rater TB 
	  WHERE 1=1   
    	<include refid="queryWhereWithEntity" />
	 </select>
	
	<!-- query by id -->
	<select id="queryById" parameterType="java.lang.String" resultType="net.artron.cms.pgyrater.model.Pgyrater">
	  SELECT
		<include refid="selectAllColumns" /> 
	  FROM cms_pgy_rater TB  
          WHERE  TB.db_id = #{dbId}
	</select>  
		
</mapper>
